/* ./your-css-folder/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-cards-examples{
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
}

.animation-cards-examples-small{
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100;
}

.input-style {
    @apply transition duration-500 border rounded-lg focus:border-transparent focus:outline-none focus:ring-2 dark:text-gray-500 
    focus:ring-yellowlight w-full -ml-10 pl-10 pr-3 py-2 border-gray-300 outline-none focus:border-yellow-500 bg-white shadow;
}
/* Navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-active {
    background-image: linear-gradient(to right, rgba(255, 227, 193, 0.753), rgba(235, 235, 235, 0.685));
    border-bottom: 1px solid;
    border-color: #dbdbdb;
}


input[type="checkbox"] + label span {
    transition: background .2s,
      transform .2s;
}

input[type="checkbox"] + label span:hover,
input[type="checkbox"] + label:hover span{
  transform: scale(1.2);
} 

input[type="checkbox"]:selected + label span {
  background-color: #FE9A22; 
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="checkbox"]:selected + label{
   color: #FE9A22; 
}


/*  scroller for lists Revisión de textos y preguntas */
.app {
    width: 350px;
    margin: 0 auto;
}   
  
.scroller {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    overflow: auto;
}
  
.item {
margin: 30px 0;
}


/* Toggle dark mode or light mode */
input:checked {
    background-color: white; /* bg-green-500 */
  }

input:checked ~ span:last-child {
    --tw-translate-x: 1.6rem; /* translate-x-7 */
}

/*  Buttons */
/* Button Back Home in login and register */
.btn-back {
    @apply w-full px-8 flex transition duration-500 bg-yellowlight text-darkGrayColor p-2 rounded-lg 
    hover:bg-yellowlightdark font-bold outline-none focus:outline-none shadow-md;
}

.btn-primary {
    @apply transition duration-500 inline-block shadow-md md:text-base text-sm text-white text-center w-full
    z-10 mx-auto bg-yellowmain hover:bg-yellow-600 focus:bg-yellow-600 rounded-lg px-12 py-2 font-semibold outline-none focus:outline-none;
}

.btn-secondary{
    @apply transition duration-500 inline-block shadow-md md:text-base text-sm text-yellow-900 text-center w-full
    z-10 mx-auto bg-yellowlight focus:bg-yellowlightdark hover:bg-yellowlightdark rounded-lg px-12 py-2 font-semibold outline-none focus:outline-none;
  }


/* Tooltip */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Tooltip Examen*/
/* Tooltip container */
.tooltip-examen {
  position: relative;
  display: inline-block; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-examen .tooltiptext-examen {
  visibility: hidden;
  width: 120px;
  background-color: #FFE3C1;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: ease-in 0.1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-examen:hover .tooltiptext-examen {
  visibility: visible;
  opacity: 1;
}

/* Loading shape */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FE9A22;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
  
/* Línea para compilar tailwind css */
/* npx tailwindcss build ./src/assets/styles/styles.css -o ./src/assets/styles/tailwind.css */

