/* ./your-css-folder/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-cards-examples{
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
}

.animation-cards-examples-small{
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100;
}

.input-style {
    @apply transition duration-500 border rounded-lg focus:border-transparent focus:outline-none focus:ring-2 dark:text-gray-500 
    focus:ring-yellowlight w-full -ml-10 pl-10 pr-3 py-2 border-gray-300 outline-none focus:border-yellow-500 bg-white shadow;
}
/* Navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-active {
    background-image: linear-gradient(to right, rgba(255, 227, 193, 0.753), rgba(235, 235, 235, 0.685));
    border-bottom: 1px solid;
    border-color: #dbdbdb;
}


input[type="checkbox"] + label span {
    transition: background .2s,
      transform .2s;
}

input[type="checkbox"] + label span:hover,
input[type="checkbox"] + label:hover span{
  transform: scale(1.2);
} 

input[type="checkbox"]:selected + label span {
  background-color: #FE9A22; 
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="checkbox"]:selected + label{
   color: #FE9A22; 
}


/*  scroller for lists Revisión de textos y preguntas */
.app {
    width: 350px;
    margin: 0 auto;
}   
  
.scroller {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    overflow: auto;
}
  
.item {
margin: 30px 0;
}


/* Toggle dark mode or light mode */
input:checked {
    background-color: #22c55e; /* bg-green-500 */
  }

input:checked ~ span:last-child {
    --tw-translate-x: 1.6rem; /* translate-x-7 */
}


/* Línea para compilar tailwind css */
/* npx tailwindcss build ./src/assets/styles/styles.css -o ./src/assets/styles/tailwind.css */